# Server Configuration
PORT=3000
NODE_ENV=development

#Local Docker PostgreSQL
DATABASE_URL=postgresql://postgres:postgres123@localhost:55432/assetmapping

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Image Processing
MAX_IMAGE_SIZE_MB=10

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100